<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
      <!-- Google font og fontawsome -->
     <link href="https://fonts.googleapis.com/css?family=Futura&display=swap" rel="stylesheet" />
    <!-- Css link -->
    <link rel="stylesheet" href="./Scripts/css/sales-page.css">
     <!-- Module link -->
    <script defer type ='module' src="./Scripts/Generators/salesContent.js" ></script>

</head>
<body>

    <div class="salesPage_Container">

        <header>
            <h3 id="Sales_Heading">SALES</h3>  
        </header>
      


        
        <!-- div som skal fylles med valg-->

        <section class="flex-columns">
            <div class="row">

                <div class="column">
                    <div class="column-1">
                        <h4>Chosen</h4>
                        <div id = "selected" class="data_container">
                            <button class="button">var1</button>
                            <button class="button">var2</button>
                            <button class="button">var2</button>            
                        </div>
                        <button class=" button calculate-btn">Calculate</button>
                    </div>
                </div>

                 <!-- brukervalg, til høyre på siden-->
                
                    <div class="select-columns">
                        <div class="data_container">
                            <button id="Bjørvika" class="button">BJØRVIKA</button>
                            <button id="Nydalen" class="button">NYDALEN</button>
                            <button id="Grunerløkka" class="button">GRUNERLØKKA</button>
                            <button id="Karl-johan" class="button">KARL JOHAN</button>
                        </div>
                    </div>
                

                    <div class="select-columns">
                        <div class="data_container">
                            <button id="this-year" class="button">THIS YEAR</button>
                            <button id="last-year" class="button">LAST YEAR</button>
                            <button id="last-month" class="button">LAST MONTH</button>
                            <button id="last-week" class="button">LAST WEEK</button>
                        </div>
                    </div>

                    <div class="select-columns">
                        <div class="data_container">
                            <button id="pizza" class="button">PIZZA</button>
                            <button id="salads" class="button">SALADS</button>
                            <button id="drinks" class="button">DRINKS</button>
                            <button id="extras" class="button">EXTRAS</button>
                        </div>
                    </div>


                    <div class="select-columns">
                        <div class="data_container">
                            <button id="x" class="button">RANDOM</button>
                            <button id="y" class="button">RANDOM</button>
                            <button id="z" class="button">RANDOM</button>
                            <button id="i" class="button">RANDOM</button>
                        </div>
                    </div>

           
                

            </div>
        </section>
            
                <section class="diagrams_container">

                    <div class="diagrams">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti iusto illo corporis delectus excepturi. Dolor corrupti assumenda minus consequatur nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam veritatis deleniti assumenda dolorem dignissimos quos soluta culpa explicabo, reprehenderit doloribus aliquid quis, a odit, eveniet reiciendis laudantium? Iusto, fuga dolorem voluptatem nesciunt sint nostrum ab quod adipisci, tempora iste pariatur?</p>
                    </div>
        
                </section>
           
       

        

     
    </div>


  


</body>
</html>