* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Futura;
  font-weight: Bold;
  color: #000;
}
.home_page_container {
  width: 100%;
  height: 100vh;
  background: #FFF;
  position: absolute;
}
.top_page_title_container {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 5%;
  left: 13%;
}
.top_page_title {
  color: #000;
  font-family: Futura;
  font-weight: Bold;
  font-size: 50px;
}
.total_sales_container {
  width: 80%;
  height: 40%;
  position: absolute;
  top: 10%;
  left: 5%;
}
.total_sales_title {
  width: 50%;
  color: #000;
  position: relative;
  top: 12%;
  left:15%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 25px;
}


/* Uke dagene under søyle diagramen */
.week_container {
  width: 90%;
  height: 250px; /* FÅR IKKE ENDRET TIL PROSENT */
  position: absolute;
  top: 30%;
  left: 27.5%;


}
.week {
  width: 100%;
  position: absolute;
  top: 75%;
  color: #A9A9A9;
  font-family: Futura;
  font-weight: Bold;
  font-size: 16px;

}

.week_tuesday {
  position: absolute;
  left: 8.2%;
}

.week_wednesday {
  position: absolute;
  left: 18%;
}
.week_thursday {
  position: absolute;
  left: 26.5%;
}
.week_friday {
  position: absolute;
  left: 35.6%;
}
.week_saturday {
  position: absolute;
  left: 44.3%;
}
.week_sunday {
  position: absolute;
  left: 53.5%;
}

/* Søyle diagram */
.diagrams_container {
  width: 53%;
  height: 150%;
  position: absolute;
  top: 30%;
  left: 25%;

}
.diagram_1 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 3%;
}
.diagram_1_not_filled {
  width: 12.3%;
  height: 29%;
  background: #DEDEDE;
}
.diagram_1_filled {
  width: 12.3%;
  height: 28%;
  background: #FC7B61;
}
.diagram_2 {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 1px;
  left: 14%;
}
.diagram_2_not_filled {
  width: 12.3%;
  height: 10%;

  background: #DEDEDE;

}
.diagram_2_filled {
  width: 12.3%;
  height: 53%;
  background: #FC7B61;
  position: absolute;
  top: 3.5%;
}
.diagram_3 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 34%;
}
.diagram_3_not_filled {
  width: 12.2%;
  height: 45%;
  background: #DEDEDE;
}
.diagram_3_filled {
  width: 12.3%;
  height: 12%;
  background: #FC7B61;
}
.diagram_4 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 48%;
}
.diagram_4_not_filled {
  width: 12.3%;
  height: 20%;
  background: #DEDEDE;
}
.diagram_4_filled {
  width: 12.3%;
  height: 37%;
  background: #FC7B61;
}
.diagram_5 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 63.5%;
}
.diagram_5_not_filled {
  width: 12.3%;
  background: #DEDEDE;
}
.diagram_5_filled {
  width: 12.3%;
  height: 56.5%;
  background: #FC7B61;
}
.diagram_6 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 78%;
}
.diagram_6_not_filled {
  width: 12.3%;
  height: 30%;
  background: #DEDEDE;
  position: relative;
}
.diagram_6_filled {
  width: 12.3%;
  height: 30%;
  background: #FC7B61;
  position: absolute;
  top: 26.5%;
}
.diagram_7 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 93.5%;
}
.diagram_7_not_filled {
  width: 12.3%;
  height: 10%;
  background: #DEDEDE;
}
.diagram_7_filled {
  width: 12.3%;
  height: 46.5%;
  background: #FC7B61;
  position: absolute;
  top: 10%;
}
.sales_numbers_container {
  height: 48%;
  position: absolute;
  top: 27%;
  left: 15%;
  letter-spacing: 1px;
}
.sales_100 {
  color: #949494;
  position: relative;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}
.sales_75 {
  color: #949494;
  position: absolute;
  top: 22%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}
.sales_50 {
  color: #949494;
  position: absolute;
  top: 45%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}
.sales_25 {
  color: #949494;
  position: absolute;
  top: 69%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}
.sales_0 {
  color: #949494;
  position: absolute;
  top: 90%;
  left: 6%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

/* Linjer som deler skjermen */
.horizontal_line_container {
  width: 70%;
  height: 5%;
  position: absolute;
  top: 58%;
  left: 23%;
}
.horizontal_line {
  width: 60%;
  height: 15%;
  background: #DEDEDE;
  position: absolute;
  border-radius: 20px;
}
.vertical_line_container {
  width: 20%;
  height: 10%;
  position: absolute;
  top: 80%;
  left: 36%;
}
.vertical_line {
  width: 100%;
  height: 2%;
  background: #DEDEDE;
  position: absolute;
  border-radius: 20px;
  transform: rotate(-90deg);
}
/* Sirkel delen - Budget  */
.budget_page_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 63%;
  left: 13%;
  letter-spacing: 1px;

}
.budget_title_container {
  width: 30%;
  height: 30%;
  position: absolute;

}
.budget_title {
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
  letter-spacing: 0;
}
.goal_circle {
  position: absolute;
  top: 11%;
  left: 23%;
  width: 50%;
  height: 80%;
  background: #FC7B61;
  /* top: 70%; FÅR IKKE ENDRET PLASSERING
  left: 80%; FÅR IKKE ENDRET PLASSERING */
  border-radius: 50%;

}
.goal_circle_inside {
  position: relative;
  left:5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background: #FFF;
  /* top: 40%; FÅR IKKE ENDRET PLASSERING
  left: 60%; FÅR IKKE ENDRET PLASSERING */
  border-radius: 50%;

}
.goal_circle_inside2{
  position: relative;
  top: -10%;
  left: 48%;
  width: 100%;
  height: 142%;
  background: #FFF;
  /* top: 40%; FÅR IKKE ENDRET PLASSERING
  left: 60%; FÅR IKKE ENDRET PLASSERING */

}
.accomplished {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 35%;
  left: 30%;

}
.accomplished_number {
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
}
.total_goal {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 57%;
  left: 37%;
}
.total_goal_number {
  width: 60%;
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Light Condensed;
  font-size: 30px;
}
.percent_accomplished {
  width: 50%;
  position: absolute;
  top: 90%;
  left: 30%;
}
.percent_accomplished_txt {
  width: 100%;
  color: #A9A9A9;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 25px;
}
/* Profit delen */
.profit_container {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 63%;
  left: 49%;
}
.profit_title_container {
  width: 50%;
  height: 50%;
  position: absolute;
}
.profit_title {
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
}
.profit_type {
  width: 50%;
  height: 50%;
  position: absolute;
}
.positive_profit {
  width: 84px;
  color: #448662;
  position: absolute;
  top: 45%;
  left: 5%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 80px;
}
.total_profit_number {
  width: 125px;
  color: #448662;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 100px;
  top: 40%;
  left: 20%;
}

/* Inbox Conteiner */
.inbox_container {
  width: 20%;
  height: 100vh;
  position: relative;
  left:80%;
  background: #ECAF88;
  text-align:center;
}

.profile_picture {
  margin-top: 10%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.welcome_message {
  font-family: Futura;
  font-weight: Bold;
  font-size: 12px;
  text-align: center;
  line-height: 0.3;
}


.inbox_header_txt {
  font-size: 30px;
}







.private_messages_container {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 17%;
  right: 4.5%;
  color: #000;
}
.message_1 {
  width: 90%;
  height: 20%;
  position: absolute;
  top: 22%;
  left: 12%;
  transition:0.6s ease-in-out;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
  background: #FFF;
}
.message_1_profile_picture {
  background: blue;
  width: 12%;
  height: 30%;
  position: absolute;
  top: 13%;
  left: 7%;
  border-radius: 50%;
}
.message_1_name {
  width: 40%;
  position: absolute;
  top: 15%;
  left: 23%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.7em;
}
.message_1_department {
  width: 20%;
  position: absolute;
  top: 30%;
  left: 23.5%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.6em;
}
.message_1_txt {
  width: 80%;
  position: absolute;
  top: 55%;
  left: 7%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.5em;
}
.message_2 {
  width: 90%;
  height: 20%;
  position: absolute;
  top: 47%;
  left: 12%;
  transition:0.6s ease-in-out;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
  background: #FFF;
}

.message_2_profile_picture {
  background: blue;
  width: 12%;
  height: 30%;
  position: absolute;
  top: 13%;
  left: 7%;
  border-radius: 50%;
}
.message_2_name {
  width: 30%;
  position: absolute;
  top: 15%;
  left: 23%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.7em;
}
.message_2_department {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 23.5%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.6em;
}
.message_2_txt {
  width: 80%;
  position: absolute;
  top: 55%;
  left: 7%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.5em;
}
.message_3 {
  width: 90%;
  height: 20%;
  position: absolute;
  top: 73%;
  left: 12%;
  transition:0.6s ease-in-out;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
  background: #FFF;
}

.message_3_profile_picture {
  background: blue;
  width: 12%;
  height: 30%;
  position: absolute;
  top: 13%;
  left: 7%;
  border-radius: 50%;
}
.message_3_name {
  width: 30%;
  position: absolute;
  top: 15%;
  left: 23%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.7em;
}
.message_3_department {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 23.5%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.6em;
}
.message_3_txt {
  width: 80%;
  position: absolute;
  top: 55%;
  left: 7%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.5em;
}

/* Må jobbe mere med, button er display none */

.logout_container {

  position: absolute;
  bottom: 40px;
}

.logout_icon {
/* Log ut knappen kommer her */
}

/* Overlay forandrer bakgrunnen når message er ekspandert og expanded toggles gjennom JS for å eksapandere meldinger */
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.8); /*dim the background*/
}
.expanded{
  position: absolute;
  top:1%;
  left: -100vh;
  height: 50vh;
  width: 70vw;
  font-size: 32px;
  z-index: 2;
}


/* Navbar*/
.navbar_container {
  width: 7%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.navbar_background {
  height: 100vh;
  background: #FC7B61;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
}
.navbar_sales_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 60%;
  left: 0;
}
.navbar_sales {
  width: 70%;
  color: #FFF;
  position: absolute;
  top: 95%;
  left: 100%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4vh;
  transform: rotate(-90deg);
  transition: 200ms;
  border: none;
  border: none;
  outline: none;
  background-color: #FC7B61;
}

.navbar_sales:hover{
  cursor: pointer;
  font-size:37px;

}

.navbar_employees_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 43%;
  left: 0;
}
.navbar_employees {
  width: 70%;
  color: #FFF;
  position: absolute;
  top: 82%;
  left: 100%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4vh;
  transform: rotate(-90deg);
  transition: 200ms;
}

.navbar_employees:hover{
  cursor: pointer;
  font-size:37px;
}
.navbar_food_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 17%;
  left: 0;
}
.navbar_food {
  width: 70%;
  color: #FFF;
  position: absolute;
  top: 60%;
  left: 100%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4vh;
  transform: rotate(-90deg);
  transition: 200ms;

}

.navbar_food:hover{
  cursor: pointer;
  font-size: 37px;
}
.navbar_home_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 5%;
  left: 0;
}
.navbar_home {
  width: 70%;
  color: #FFF;
  position: absolute;
  top: 35%;
  left: 100%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4vh;
  transform: rotate(-90deg);
  transition: 200ms;

}

.navbar_home:hover{
  cursor: pointer;
  font-size: 37px;
}
.home_line {
  width: 0.4vw;
  height: 13vh;
  background: #FFF;
  position: absolute;
  top: 6.3%;
  left: 60%;
}

.food_line {
  width: 0.4vw;
  height: 12vh;
  background: #FFF;
  position: absolute;
  top: 26.6%;
  left: 60%;
  display: none;
}

.employees_line {
  width: 0.4vw;
  height: 24vh;
  background: #FFF;
  position: absolute;
  top: 47.3%;
  left: 60%;
  display: none;
}

.sales_line{
  width: 0.4vw;
  height: 12vh;
  background: #FFF;
  position: absolute;
  top:80.3%;
  left:60%;
  display: none;

}
