* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Futura;
  font-weight: Bold;
  color: #000;
}

.home_page_container {
  background: #FFF;
}

.top_page_title_container {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 5%;
  left: 13%;
}

.top_page_title {
  color: #000;
  font-family: Futura;
  font-weight: Bold;
  font-size: 50px;
}

.total_sales_container {
  width: 80%;
  height: 40%;
  position: absolute;
  top: 10%;
  left: 5%;
}

.total_sales_title {
  width: 50%;
  color: #000;
  position: relative;
  top: 12%;
  left: 15%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 25px;
}

/* Uke dagene under søyle diagramen */
.week_container {
  width: 90%;
  height: 250px;
  /* FÅR IKKE ENDRET TIL PROSENT */
  position: absolute;
  top: 30%;
  left: 25.5%;
}

.week {
  width: 53%;
  position: absolute;
  top: 75%;
  color: #A9A9A9;
  font-family: Futura;
  font-weight: Bold;
  font-size: 16px;
}

.week_monday {
  position: absolute;
  left: 1%;
}

.week_tuesday {
  position: absolute;
  left: 20%;
}

.week_wednesday {
  position: absolute;
  left: 37%;
}

.week_thursday {
  position: absolute;
  left: 55%;
}

.week_friday {
  position: absolute;
  left: 73%;
}

.week_saturday {
  position: absolute;
  left: 91%;
}

.week_sunday {
  position: absolute;
  left: 109%;
}

/* Søyle diagram */
.diagrams_container {
  width: 53%;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 25%;
}

/* Søylene : Laget med egen css og egen html*/
.diagram_1 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  margin-right: 10px;
  border: #FC7B61;
}

.diagram_1_filled {
  height: 80%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
  margin-right: 10px;
}

.diagram_2 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 16%;
}

.diagram_2_filled {
  height: 80%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_3 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 32%;
}

.diagram_3_filled {
  height: 80%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_4 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 48%;
}

.diagram_4_filled {
  height: 50%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_5 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 64%;
}

.diagram_5_filled {
  height: 10%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_6 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 80%;
}

.diagram_6_filled {
  height: 20%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_7 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 96%;
}

.diagram_7_filled {
  height: 10%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.sales_numbers_container {
  height: 48%;
  position: absolute;
  top: 27%;
  left: 15%;
  letter-spacing: 1px;
}

.sales_100 {
  color: #949494;
  position: relative;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

.sales_75 {
  color: #949494;
  position: absolute;
  top: 22%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

.sales_50 {
  color: #949494;
  position: absolute;
  top: 45%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

.sales_25 {
  color: #949494;
  position: absolute;
  top: 69%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

.sales_0 {
  color: #949494;
  position: absolute;
  top: 90%;
  left: 6%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

/* Linjer som deler skjermen */
.horizontal_line_container {
  width: 70%;
  height: 5%;
  position: absolute;
  top: 58%;
  left: 23%;
}

.horizontal_line {
  width: 68%;
  height: 15%;
  background: #DEDEDE;
  position: absolute;
  border-radius: 20px;
}

.vertical_line_container {
  width: 20%;
  height: 10%;
  position: absolute;
  top: 80%;
  left: 36%;
}

.vertical_line {
  width: 100%;
  height: 2%;
  background: #DEDEDE;
  position: absolute;
  border-radius: 20px;
  transform: rotate(-90deg);
}

/* Sirkel delen - Budget  */
.budget_page_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 63%;
  left: 13%;
  letter-spacing: 1px;
}

.budget_title_container {
  width: 30%;
  height: 30%;
  position: absolute;
}

.budget_title {
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
  letter-spacing: 0;
}

.goal_circle {
  position: absolute;
  top: 11%;
  left: 23%;
  width: 50%;
  height: 80%;
  background: #FC7B61;
  /* top: 70%; FÅR IKKE ENDRET PLASSERING
  left: 80%; FÅR IKKE ENDRET PLASSERING */
  border-radius: 50%;
}

.goal_circle_inside {
  position: relative;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background: #FFF;
  /* top: 40%; FÅR IKKE ENDRET PLASSERING
  left: 60%; FÅR IKKE ENDRET PLASSERING */
  border-radius: 50%;
}

.goal_circle_inside2 {
  position: relative;
  top: -10%;
  left: 48%;
  width: 100%;
  height: 142%;
  background: #FFF;
  /* top: 40%; FÅR IKKE ENDRET PLASSERING
  left: 60%; FÅR IKKE ENDRET PLASSERING */
}

.accomplished {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 35%;
  left: 30%;
}

.accomplished_number {
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
}

.total_goal {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 57%;
  left: 37%;
}

.total_goal_number {
  width: 60%;
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Light Condensed;
  font-size: 30px;
}

.percent_accomplished {
  width: 50%;
  position: absolute;
  top: 90%;
  left: 30%;
}

.percent_accomplished_txt {
  width: 100%;
  color: #A9A9A9;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 25px;
}

/* Profit delen */
.profit_container {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 63%;
  left: 49%;
}

.profit_title_container {
  width: 50%;
  height: 50%;
  position: absolute;
}

.profit_title {
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
}

.profit_type {
  width: 50%;
  height: 50%;
  position: absolute;
}

.positive_profit {
  width: 84px;
  color: #448662;
  position: absolute;
  top: 45%;
  left: 5%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 80px;
}

.total_profit_number {
  width: 125px;
  color: #448662;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 100px;
  top: 40%;
  left: 20%;
}

/* Inbox Conteiner */
.inbox_container {
  width: 20%;
  height: 100vh;
  position: relative;
  left: 80%;
  background: #ECAF88;
}

.profile_picture {
  margin-top: 20%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.welcome_message {
  font-size: 12px;
  text-align: center;
  line-height: 0;
}

.inbox_name {
  font-size: 30px;
}


.inbox_header_txt {
  font-size: 15px;
}

/* Meldinger i inboxen */

.msg {
  background: #FFF;
  border-radius: 20px;
  overflow: hidden;
}

.msg:hover{
  filter: brightness(80%);
  transition: 0.3s;
}

.time{
  width: 85%;
  margin: auto;
  display:flex;
  justify-content:space-between;
  margin-bottom: -3%;
  font-size: 12px;
  color:black;
  font-style: italic;
}

.message_info_div {
  width: 80%;
  margin:  5px auto 0;
  display: flex;
  align-items: center;
  font-family: Futura;
  font-weight: Bold;
  font-size: 0.8em;
  line-height: 0.2;
}

.message_profile_picture {
  width: 3em;
  height: 3em;
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}

.message_txt_div {
  font-family: Futura;
  font-size: 0.8em;
  text-align: left;
  width: 80%;
  margin:auto;
  padding-bottom: 5px;
}

.msg1_time{
  width: 90%;
  height: 20%;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.6s ease-in-out;
}

.msg2_time {
  width: 90%;
  height: 20%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.6s ease-in-out;
}

.msg3_time{
  width: 90%;
  height: 20%;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  animation-name: pop-up;
  animation-duration: 1s;
  animation-delay: 6s;
  transition: 0.6s ease-in-out;
}

.msg3{
  border:solid 4px green;
}

@keyframes pop-up {
  0% {
    opacity: 0;
    width: 50%;
    height: 5%;
    top: 75%;
  }

  100% {
    opacity: 1;
    width: 90%;
    height: 20%;
    top: 68%;
  }
}

.logout_container{
  position: absolute;
  bottom: 2%;
  left: 80%;
}


.logout_icone{
  color:black;
}

.logout_icone:hover{
  color:#d3d3d3;
  transition: 0.3s;
}

/* Overlay forandrer bakgrunnen når message er ekspandert og expanded toggles gjennom JS for å eksapandere meldinger */
.expanded {
  position: absolute;
  left: -95vh;
  top: 50%;
  transform: translateY(-50%);
  height: 50vh;
  width: 250%;
  font-size: 32px;
  z-index: 2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
/* Klassen angis til time-diven gjennom JS */
.hidden{
  visibility: hidden;
}

/* Navbar*/
.navbar_container {
  width: 7%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #FC7B61;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.25);
}

.navbar_sales_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 60%;
  left: 0;
}

.navbar_sales {
  width: 70%;
  color: #FFF;
  position: absolute;
  top: 95%;
  left: 100%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4vh;
  transform: rotate(-90deg);
  transition: 200ms;
  background-color: #FC7B61;
}

.navbar_sales:hover {
  cursor: pointer;
  font-size: 4.2vh;
}

.navbar_employees_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 43%;
  left: 0;
}

.navbar_employees {
  width: 70%;
  color: #FFF;
  position: absolute;
  top: 82%;
  left: 100%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4vh;
  transform: rotate(-90deg);
  transition: 200ms;
}

.navbar_employees:hover {
  cursor: pointer;
  font-size: 4.2vh;
}

.navbar_food_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 17%;
  left: 0;
}

.navbar_food {
  width: 70%;
  color: #FFF;
  position: absolute;
  top: 60%;
  left: 100%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4vh;
  transform: rotate(-90deg);
  transition: 200ms;
}

.navbar_food:hover {
  cursor: pointer;
  font-size: 4.2vh;
}

.navbar_home_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 5%;
  left: 0;
}

.navbar_home {
  width: 70%;
  color: #FFF;
  position: absolute;
  top: 35%;
  left: 100%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4vh;
  transform: rotate(-90deg);
  transition: 200ms;
}

.navbar_home:hover {
  cursor: pointer;
  font-size: 4.2vh;
}

.home_line {
  width: 0.4vw;
  height: 13vh;
  background: #FFF;
  position: absolute;
  top: 6.3%;
  left: 60%;
}

.food_line {
  width: 0.4vw;
  height: 12vh;
  background: #FFF;
  position: absolute;
  top: 26.6%;
  left: 60%;
  display: none;
}

.employees_line {
  width: 0.4vw;
  height: 24vh;
  background: #FFF;
  position: absolute;
  top: 47.3%;
  left: 60%;
  display: none;
}

.sales_line {
  width: 0.4vw;
  height: 12vh;
  background: #FFF;
  position: absolute;
  top: 80.3%;
  left: 60%;
  display: none;
}
