* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Futura;
  font-weight: Bold;
  color: #000;
  background-color: #f4f3f3;
}

.main_content{
  position: absolute;
  left: 7%;
  width: 73%;
  height: 100vh;
}

.home_page_container {
  background: #FFF;
}

.top_page_title_container {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 5%;
  left: 13%;
}

.top_page_title {
  color: #000;
  font-family: Futura;
  font-weight: Bold;
  font-size: 50px;
}

.total_sales_container {
  width: 80%;
  height: 40%;
  position: absolute;
  top: 10%;
  left: 5%;
}

.total_sales_title {
  width: 50%;
  color: #000;
  position: relative;
  top: 12%;
  left: 15%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 25px;
}

/* Uke dagene under søyle diagramen */
.week_container {
  width: 90%;
  height: 250px;
  /* FÅR IKKE ENDRET TIL PROSENT */
  position: absolute;
  top: 30%;
  left: 25.5%;
}

.week {
  width: 53%;
  position: absolute;
  top: 75%;
  color: #A9A9A9;
  font-family: Futura;
  font-weight: Bold;
  font-size: 16px;
}

.week_monday {
  position: absolute;
  left: 1%;
}

.week_tuesday {
  position: absolute;
  left: 20%;
}

.week_wednesday {
  position: absolute;
  left: 37%;
}

.week_thursday {
  position: absolute;
  left: 55%;
}

.week_friday {
  position: absolute;
  left: 73%;
}

.week_saturday {
  position: absolute;
  left: 91%;
}

.week_sunday {
  position: absolute;
  left: 109%;
}

/* Søyle diagram */
.diagrams_container {
  width: 53%;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 25%;
}

/* Søylene : Laget med egen css og egen html*/
.diagram_1 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  margin-right: 10px;
  border: #FC7B61;
}

.diagram_1_filled {
  height: 0%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
  margin-right: 10px;
}

.diagram_2 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 16%;
}

.diagram_2_filled {
  height: 0%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_3 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 32%;
}

.diagram_3_filled {
  height: 0%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_4 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 48%;
}

.diagram_4_filled {
  height: 0%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_5 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 64%;
}

.diagram_5_filled {
  height: 0%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_6 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 80%;
}

.diagram_6_filled {
  height: 0%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_7 {
  width: 50px;
  height: 170px;
  position: absolute;
  background: #DEDEDE;
  left: 96%;
}

.diagram_7_filled {
  height: 0%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.sales_numbers_container {
  height: 48%;
  position: absolute;
  top: 27%;
  left: 15%;
  letter-spacing: 1px;
}

.sales_100 {
  color: #949494;
  position: relative;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

.sales_75 {
  color: #949494;
  position: absolute;
  top: 22%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

.sales_50 {
  color: #949494;
  position: absolute;
  top: 45%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

.sales_25 {
  color: #949494;
  position: absolute;
  top: 69%;
  left: 2%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

.sales_0 {
  color: #949494;
  position: absolute;
  top: 90%;
  left: 6%;
  font-family: Futura;
  font-weight: Bold;
  font-size: 15px;
}

/* Linjer som deler skjermen */
.horizontal_line_container {
  width: 70%;
  height: 5%;
  position: absolute;
  top: 58%;
  left: 23%;
}

.horizontal_line {
  width: 68%;
  height: 15%;
  background: #DEDEDE;
  position: absolute;
  border-radius: 20px;
}

.vertical_line_container {
  width: 20%;
  height: 10%;
  position: absolute;
  top: 80%;
  left: 36%;
}

.vertical_line {
  width: 100%;
  height: 2%;
  background: #DEDEDE;
  position: absolute;
  border-radius: 20px;
  transform: rotate(-90deg);
}

/* Sirkel delen - Budget  */
.budget_page_container {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 63%;
  left: 13%;
  letter-spacing: 1px;
}

.budget_title_container {
  width: 30%;
  height: 30%;
  position: absolute;
}

.budget_title {
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
  letter-spacing: 0;
}

.goal_circle {
  position: absolute;
  top: 11%;
  left: 23%;
  width: 50%;
  height: 80%;
  background: #FC7B61;
  /* top: 70%; FÅR IKKE ENDRET PLASSERING
  left: 80%; FÅR IKKE ENDRET PLASSERING */
  border-radius: 50%;
}

.goal_circle_inside {
  position: relative;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-color: #f4f3f3;
  /* top: 40%; FÅR IKKE ENDRET PLASSERING
  left: 60%; FÅR IKKE ENDRET PLASSERING */
  border-radius: 50%;
}

.goal_circle_inside2 {
  position: relative;
  top: -10%;
  left: 48%;
  width: 100%;
  height: 142%;
  background-color: #f4f3f3;
  /* top: 40%; FÅR IKKE ENDRET PLASSERING
  left: 60%; FÅR IKKE ENDRET PLASSERING */
}

.accomplished {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 35%;
  left: 30%;
}

.accomplished_number {
  margin-left: 14px;
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
}

.total_goal {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 57%;
  left: 37%;
}

.total_goal_number {
  width: 60%;
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Light Condensed;
  font-size: 30px;
}

.percent_accomplished {
  width: 50%;
  position: absolute;
  top: 99%;
  left: 31%;
}

.percent_accomplished_txt {
  width: 100%;
  color: #000;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 25px;
}

/* Profit delen */
.profit_container {
  width: 50%;
  height: 30%;
  position: absolute;
  top: 63%;
  left: 49%;
}

.profit_title_container {
  font-size: 30px;
}


.total_profit_number {
  color: #448662;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 4rem;
  top: 40%;
  left: 10%;
}
