
.employees_content{
  position: relative;
  font-family: Futura;
}
/* Knapper for å velge fra hvilken restorang du vil se ansatte  */
.buttons-employee{
  width: 90%;
  margin: 5% auto 0;
  display: flex;
  justify-content: space-around;
}

.button-employee{
width: 20%;
padding: 1em 1em;
color: #000;
display: inline-block;
text-align: center;
font-size: 1.1rem;
text-decoration: none;
border-radius: 15px;
background-color: #FFF;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button-employee:hover{
  background: #ECAF88;
  transition: 0.3s;
  color:#f9f3f3;
}

/* Liste over ansatte */
.employee-list{
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin: 5% auto 0;
}

.employee-card{
width: 20%;
border-radius: 20px;
border: solid 1px black;
font-size: 1em;
position: relative;
}

.employee-name-div{
  line-height: 0.2;
}

.employee-name{
  font-size: 2em;
  font-weight: bold;
}

.employee-contact-info{
  line-height: 0.5;
  margin-top: 40px;
}

.employee-pay-grade{
  margin-top: 40px;
}

/* Kort for å legge til og fjerne ansatte */
.flip-card{
  background-color: #FFF;
  width: 30%;
  height: 380px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 25px;
  perspective: 1000px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.inner-card{
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.back{
  transform: rotateY(180deg);
  background:#ECAF88;
  border-radius: 25px;
}

.card-titel-front{
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.card-image-front{
  height: 50%;
  margin-bottom: 15%;
}


.add-user-btn{
  color:#000;
  margin-right:100px;
}

.remove-user-btn{
  color:#000;
}

.remove-user-btn:hover, .add-user-btn:hover{
  color:#ECAF88;
  transition: 0.3s;
}

.add-remove-user-div{
  margin-bottom: 10%;
}

/* Flles style for remov og add kortet */
.remove-add-close{
  color: #000;
  position: absolute;
  right:5%;
  top:3%;
}

.remove-add-close:hover{
  color:#d3d3d3;
  transition: 0.3s;
}

.image-remove-add{
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left:50%;
  top:7%;
  transform: translateX(-50%);
}

/* Style for add kortet */
.add-inputs{
  position: absolute;
  top:35%;
  left:50%;
  transform: translateX(-50%);
}

.add-button{
  position: absolute;
  top:87%;
  left: 50%;
  transform: translateX(-50%);
}

/* Style for remov kortet */

.remove-inputs{
  display: block;
  line-height: 1.5;
  position: absolute;
  top:45%;
  left:50%;
  transform: translateX(-50%);

}

.remove-button{
  position: absolute;
  top:80%;
  left: 50%;
  transform: translateX(-50%);
}


/* Klassen som toggles gjennom JS og sørger for rotering av cards */
.rotate{
  transform:rotateY(-180deg);
};
