
.employees_content{
  position: relative;
}

/* Ansatt titel */
.employees-title{
  margin-top: 4.05%;
  margin-left:5%;
  font-size: 50px;
}
/* Knapper for å velge fra hvilken restorang du vil se ansatte  */
.buttons-employee{
  width: 90%;
  margin:auto;
  display: flex;
  justify-content: space-around;
}

.button-employee{
width: 20%;
padding: 1em 1em;
border:2px solid #003B49;
color: #f5f5fd;
display: inline-block;
text-align: center;
font-size: 1.1vw;
text-decoration: none;
border-radius: 15px;
background-color: #003B49;
letter-spacing: 2px;
}

.button-employee:hover{
  background: #f5f5fd;
  transition: 0.3s;
  color:#000;
}

/* Liste over ansatte */
.employee-list1{
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin: 1% auto;
}

.employee-list2{
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin: 1% auto;
}

.employee-card{
width: 24%;
height:220px;
border-radius: 20px;
font-size: 1rem;
position: relative;
background: #ECECF6;
}
.employee-name-div{
  line-height:1;
}

.employee-name{
  position: absolute;
  top:5%;
  left:50%;
  transform: translateX(-50%);
  width: 80%;
  margin:auto;
  font-size: 1.8em;
  font-weight: bold;
}
.employee-position{
  position: absolute;
  left: 50%;
  top:25%;
  transform: translateX(-50%);
}

.employee-contact-info{
  line-height: 0.5;
  font-size: 1vw;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%);
}

.employee-pay-grade{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

/* Add og remove buttons */

.add-remove-buttons{
position: absolute;
left:50%;
bottom: 5%;
transform: translateX(-50%);
display: none;
}

.add-user-btn{
  margin-right: 100px;
  color:#003B49;;
}

.remove-user-btn{
  color:#003B49;
}

/* Modal for å legge og fjerne ansatte */
.modal {
  position: fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: absolute;
  left: 41.5%;
  top:50%;
  transform: translate(-41.5%,-50%);
  background-color: #003B49;
  width: 330px;
  height: 450px;
  border-radius:30px;
}

.modal-content input{
  border-radius: 5px;
  line-height: 1.5;
}

.remove-add-close{
  color: #fff;
  position: absolute;
  right:5%;
  top:3%;
}

.image-remove-add-div{
text-align: center;
margin-top: 30px;
}

.image-remove-add{
  width: 100px;
  border-radius: 50%;
}

/* Legg til ansatt modal */
.add-inputs{
  width: 50%;
  line-height: 2;
  margin: auto;
  color:#f5f5fd;
}

.add-inputs label{
  display: inline-block;
}


.add-button{
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px;
  border:none;
  display: inline-block;
  font-size: 1.1vw;
  border-radius: 15px;
  background-color: #f5f5fd;
}

/* Fjern ansatt modal */

.remove-inputs{
  width: 50%;
  line-height: 2.3;
  margin: 20% auto;
  border:none;
  color:#f5f5fd;
}

.remove-button{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
