

/* kort fro å legge til og fjerne ansatte */
.flip-card{
  background-color: #FFF;
  width: 30%;
  height: 380px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 25px;
  perspective: 1000px;
  position: absolute;
  left:2%;
  bottom: 2%;

}

.inner-card{
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.back{
  transform: rotateY(180deg);
  background:#ECAF88;
  border-radius: 25px;
}

.card-titel-front{
  text-align: center;
  font-size: 35px;
  width: 100%;
}

.card-image-front{
  height: 50%;
  margin-bottom: 15%;
}


.add-user-btn{
  color:#000;
  margin-right:100px;
}

.remove-user-btn{
  color:#000;
}

.remove-user-btn:hover, .add-user-btn:hover{
  color:darkgrey;
  transition: 0.3s;
}

.add-remove-user-div{
  margin-bottom: 10%;
}

/* Flles style for remov og add kortet */
.remove-add-close{
  color: #000;
  position: absolute;
  right:5%;
  top:3%;
}

.remove-add-close:hover{
  color:#d3d3d3;
  transition: 0.3s;
}

.image-remove-add{
  width: 100px;
  border-radius: 50%;
  position: absolute;
  left:50%;
  top:2%;
  transform: translateX(-50%);
}

/* Style for add kortet */
.add-inputs{
  position: absolute;
  top:30%;
  left:50%;
  transform: translateX(-50%);
}

/* Style for remov kortet */

.remove-inputs{
  display: block;
  text-align: center;
  position: absolute;
  top:45%;
  left:50%;
  transform: translateX(-50%);
  line-height: 3.2;
}

.remove-add-button{
  position: absolute;
  top:80%;
  left: 50%;
  transform: translateX(-50%);
}


/* Klassen som toggles gjennom JS og sørger for rotering av cards */
.rotate{
  transform:rotateY(-180deg);
};
