* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.split_screen{
  height: 100vh;
  display: flex;
}

.left_half {
  flex-grow: 1;
  max-width: 50%;
  background:#000;
  position:relative;
  height: 100vh;
}

.welcome_txt {
  color: #FFF;
  position: absolute;
  top: 40%;
  left: 35%;
  transform:translate(-50%, -50%);
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
}

.name_txt {
  color: #000;
  position: absolute;
  top: 60%;
  left: 50%;
  transform:translate(-50%, -50%);
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
}

.right_half{
  max-width: 50%;
  background:#FFF;
  position: relative;
  height: 100vh;
}

.signin_txt {
  width: 200px;
  color: #000;
  position: absolute;
  top: 96px;
  left: 50px;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
}

.signin_underline {
  width: 115px;
  height: 12px;
  background: #ECAF88;
  position: absolute;
  top: 130px;
  left: 50px;
  border-radius: 20px;
}

.create_txt {
  width: 300px;
  color: #000;
  position: absolute;
  top: 96px;
  left: 400px;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
}

.login_input {
  /* width: 250px; */
  color: #000;
  position: absolute;
  top: 310px;
  left: 200px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 15px;
  border: none;
  outline: none;
}

.login_input_underline_inactive {
  width: 364px;
  height: 6px;
  background: #000;
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 200px;
  overflow: hidden;
}

.login_input_underline_active {
  width: 1px;
  height: 6px;
  background: #ECAF88;
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 200px;
  overflow: hidden;
}
::placeholder{
  color: black;
}

.login_password {
  /* width: 360px; */
  height: 30px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 200px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 15px;
  border: none;
  outline: none;
}
#toggle_password_eye {
  position: absolute;
  left: 547px;
  top: 405px;
}


.login_password_underline_inactive{
  width: 364px;
  height: 6px;
  background: rgba(0,0,0,1);
  position: absolute;
  top: 430px;
  left: 200px;
  overflow: hidden;
}

.login_password_underline_active {
  width: 1px;
  height: 6px;
  background:#ECAF88;
  position: absolute;
  top: 430px;
  left: 200px;
  overflow: hidden;
}

.logout_checkbox {
  width: 24px;
  height: 22px;
  position: absolute;
  top: 473px;
  left: 200px;
  border: 3px solid rgba(0,0,0,1);
  overflow: hidden;
}

.logout_txt {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 230px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.login_btn {
  width: 300px;
  height: 64px;
  position: absolute;
  background: rgba(236,175,136,0.25);
  top: 600px;
  left: 230px;
  border-radius: 50px;
}

.login_btn_txt {
  width: 200px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 15px;
  left: 90px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 30px;
  text-align: left;
}


.forgot_txt {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 750px;
  left: 300px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 15px;
}
