* {
  box-sizing: border-box;
    
}

body {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.split_screen{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: flex;
}

.left_half {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  background:#000;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.welcome_txt {
  width: 650px;
  color: #FFF;
  position: absolute;
  top: 176px;
  left: 142px;
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name_txt {
  width: 554px;
  color: #000;
  position: absolute;
  top: 289px;
  left: 175px;
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
  text-align: left; 
}

.right_half{
  flex-grow: 1;
  flex-basis: 0;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  background:#FFF;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  justify-content: center;
}

.signin_txt {
  width: 200px;
  color: #000;
  position: relative;
  /* top: 96px;
  left: 50px; */
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.signin_btn{
  position: absolute;
  top: 96px;
  left: 42px;
  background-color: white;
  border: none;
  margin-bottom: 10px;
  border: none;
  outline: none;
  transition: 900ms;
}

.signin_btn:hover{
  cursor: pointer;
  transform: scale(1.05)
}

.signin_underline {
  width: 121px;
  height: 12px;
  background: #ECAF88;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 50px;
  border-radius: 20px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  overflow: hidden;
  transition: 300ms ease-out;
  z-index: 2;
}
.signin_underline_create{
  position: absolute;
  width: 255px;
  top: 135px;
  left: 435px;

}

.create_txt {
  width: 300px;
  color: #000;
  position: relative;
  /* top: 96px;
  left: 400px; */
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.create_btn{
  position: absolute;
  top: 96px;
  left: 412px;
  background-color: white;
  border: none;
  border: none;
  outline: none;
  transition: 900ms;
}
.create_btn:hover{
  cursor: pointer;
  transform: scale(1.05)
}

.login_input {
  /* width: 250px; */
  color: #000;
  position: absolute;
  top: 310px;
  left: 200px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  border: none;
  outline: none;
}

.login_input_underline_inactive {
  width: 364px;
  height: 6px;
  background: #000;
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 200px;
  overflow: hidden;
}

.login_input_underline_active {
  width: 1px;
  height: 6px;
  background: #ECAF88;
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 200px;
  overflow: hidden;
}
::placeholder{
  color: #C4C4C4
}

.login_password {
  /* width: 360px; */
  height: 30px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 200px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  border: none;
  outline: none;
}
#toggle_password_eye {
  position: absolute;
  left: 647px;
  top: 405px;
}
.test{
  background: yellow !important

}


.login_password_underline_inactive{
  width: 364px;
  height: 6px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 200px;
  overflow: hidden;
  transform: 2s;
  transform-origin: left;
}


.login_password_underline_active {
  width: 1px;
  height: 6px;
  background:#ECAF88;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 200px;
  overflow: hidden;
}

.logout_checkbox {
  width: 24px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 473px;
  left: 200px;
  border: 3px solid rgba(0,0,0,1);
  overflow: hidden;
}

.logout_checkbox:checked{
  color: white;
}

.logout_txt {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 230px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.login_btn {
  width: 300px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  background: rgba(236,175,136,0.25);
  top: 600px;
  left: 230px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
  border: none;
  
}
.login_btn:enabled{
  cursor: pointer;
}
.login_btn:enabled:hover{
  transform: scale(1.03);
}

.login_btn_txt {
  width: 200px;
  color: rgba(0,0,0,0.6000000238418579);
  position: absolute;
  top: 15px;
  left: 90px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 30px;
  opacity: 20;
  text-align: left;
}


.forgot_txt {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 750px;
  left: 300px;
  font-family: Futura-Bold;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.forgot_txt:hover{
  
  cursor: pointer;
}
