* {
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.menu_page_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #FFF;
  position: relative;
}
 .menu_page_container img{
  will-change: transform;
  border-radius: 12%;
  position: relative;
  height: 100%;
  width: 100%;
}
.food_container {
  position: relative;
  left: 10%;
  width: 15%;
  height: 10%;
}
.food_title {
  top: 20%;
  position: relative;
  width: 20%;
  color: #000;
  font-family: Futura;
  font-weight: Bold;
  font-size: 3.1rem;
}
.pizza_container {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 22%; /* FIKSE */
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
.pizza_title {
  top: 7%;
  left: 10%;
  width: 20%;
  color: #000;
  position: relative;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
}
.pizza_type_1 {
  width: 16%;
  height: 80%;
  border-radius: 20px;
}
.pizza_type_5 {
  width: 16%;
  height: 80%;
  border: 5px dashed #D4D4D4;
  border-radius: 20px;
}
.pizza_plus_icon {
  width: 40%;
  height: 40%;
  background: blue;
  position: relative;
  top: 30%;
  left: 30%;
}
.diagram_icon_container {
  position: relative;
  height: 5%;
  width: 5%;
  background-image: url("../../Images/Menu/Icons/market-fluctuation.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  left: 85%;
  bottom: 2%;
}
.drinks_container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 22%; /* FIKSE */
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
.drinks_title {
  bottom: 1%;
  left: 10%;
  width: 10%;
  color: #000;
  position: relative;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
}
.drink_type_1 {
  width: 16%;
  height: 80%;
  border-radius: 20px;
}
.drink_type_5 {
  width: 16%;
  height: 80%;
  border: 5px dashed #D4D4D4;
  border-radius: 20px;
}
.drinks_plus_icon {
  position: relative;
  width: 40%;
  height: 40%;
  background: blue;
  top: 30%;
  left: 30%;
}
.splitscreen_line_container {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 8px;
}
.splitscreen_line {
  left: 50%;
  width: 50%;
  height: 100%;
  background: #D4D4D4;
  border-radius: 20px;
  position: relative;
  transform: translate(-50%, -50%);
}
.recipe_bank_container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 22%; /* FIKSE */
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
.add_plus{
  background-image: url("../../Images/Menu/Icons/plus.png");
  background-size: 50%;
  background-position: center;
  background-repeat:no-repeat;
}
.recipe_bank_title {
  position: relative;
  left: 10%;
  width: 20%;
  color: #000;;
  font-family: Futura;
  font-weight: Bold;
  font-size: 30px;
}
.recipe_1 {
  width: 16%;
  height: 80%;
  border-radius: 20px;
}
.recipe_5 {
  width: 16%;
  height: 80%;
  border: 5px dashed #D4D4D4;
  border-radius: 20px;
}
.confirm_btn_container {
  top: 5%;
  left: 50%;
  position: relative;
  width: 8%;
  height: 5%;
  transform: translate(-50%, -50%);
}
.confirm_btn_filled {
  width: 100%;
  background: #FC7B61;
  position: relative;
  border-radius: 50px;
}
.confirm_btn_circle {
  height: 29px;
  width: 50%;
  background: #000;
  border-radius: 50px;
  border: solid 2px black;
  position: relative;
}
.confirm_btn_circle:hover{
  cursor: pointer;
}
.confirm_btn_circle_edit{
  left: 50%;
}
.confirm_btn_txt {
  margin-top: 5px;
  width: 110%;
  color: #333;
  position: absolute;
  font-family: Futura;
  font-weight: Bold;
  font-size: 11px;
  text-align: center;
}
