* {
    box-sizing: border-box;
  }
body {
    font-family: Futura;
    font-weight: Bold;
    color: #000;
}

.salesPage_Container{
    width: 100%;
    height: 100vh;
    padding:0% 25%;
    max-height: 100vh;
    
}  

#Sales_Heading{
    font-size: 50px;
    font-weight: bold;
    position: relative;
    padding: 0;
    margin-top: 0;
    
}



/* Flex columns*/
.flex-columns .row {
    display: flex;
    flex-direction: row;
    height: 30%;
    
}

.flex-columns .column{
    display: flex;
    flex-direction: row;
    flex:1;
    align-items: flex-end;
}

/* for valgte på venstre side*/
.column-1 {
    /*styling*/
    /* flex*/
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
    /* sizing */
    width: 100%;
    padding: 30px;
    /*positioning*/
    margin-right: 20px;
    border: 1px solid #ccc;
}

   .select-columns {
    /*styling*/
    border-right: 1px solid #ccc;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    
  }


.data_container{
    border-right: 1px solid #ccc;
    background: #f4f4f4;
    /* flex*/
    display: flex;
    flex-direction: column;   
}

.selected_container{
    background: #f4f4f4;
    /* flex*/
    display: flex;
    flex-direction: column;   
}

.button{
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background-color: #FC7B61;
    color: white;
    font-family: Futura;
    font-weight: Bold;
    border: none;
    border-radius: 5px;
   
}

.calculate-btn {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background-color : #28a745;
    color: #fff;
    font-family: Futura;
    border: none;
    border-radius: 5px;

}

.diagrams_container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    max-height: 400px;
}

.diagrams_container>.diagrams {
    padding: 60px;
    background: #f4f4f4;
    width: 100%;
    max-height: 100%;
  }
