* {
  box-sizing: border-box;
}
body {
  font-family: Futura;
  font-weight: Bold;
  color: #000;
}

.salesPage_Container{
  width: 85%;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  top: 4%;
  left: 8%;
  
}  

/* alle div'er med innhold*/
.data_container{
  /* flex*/
  display: flex;
  flex-direction: column;   
}

#Sales_Heading{
  position: relative;
  top: 10px;
  right: 4%;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  margin-top: 0;
  
}

#Heading-p{
  margin: 0;
  padding: 0;
  padding: 10px;
  display: inline-block;
  position: relative;
  font-size: 1vw;

  
}

/* lavnelabel over variabel-valg*/
.labels-choices{
  position: relative;
  left: 35vw;
  display: flex;
  justify-content: space-between;
  width: 400px;

  
  
}

.choice{
  background-color: #ccc;
  border-top: 50%;
  color: white;
  border-radius:40%;
  padding: 5px;
  z-index: -1;
}


.restaurant {

}

.period {

}

.category{

  
}

/* Flex columns*/
.flex-columns .row {
  display: flex;
  flex-direction: row;
  height: 30%;
  
}

.flex-columns .column{
  display: flex;
  flex-direction: row;
  flex:1;
  align-items: flex-end;
}

/* for valgte på venstre side*/
.column-1 {
  /*styling*/
  /* flex*/
  display: flex;
  flex-direction: column;

  /* sizing */
  width: 100%;
  /*positioning*/
  padding: 0 30px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 246px;
}


/* kolonner med valg*/
 .select-columns {
  /*styling*/
  border-right: 1px solid #ccc;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  
}

.select-columns:last-of-type{
  border: none;
}




.button{
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: #FC7B61;
  color: white;
  font-family: Futura;
  font-weight: Bold;
  border: none;
  border-radius: 5px;
  width : 150px;
 
}

.buttonChosen{
  padding: 5px;
  margin: 5px;
  background-color: #FC7B61;
  color: white;
  font-family: Futura;
  font-weight: Bold;
  border: none;
  border-radius: 5px;

}
.button:hover{
  opacity: 0.8;
  transform: scale(1.05);
 
}

.calculate-btn { 
  background-color : #28a745;
  margin-bottom: 20px; 
  width: 100%;
}

/*resultatdiv*/


.result-section{

  display: flex;

  flex-direction: column;
  width: 100%;
  height: 70%;
  margin-top: 20px;
  max-height: 430px;
  background: #DEDEDE;
  width: 100%;
  padding-top: 30px;
  min-width: 645px;
  border-radius: 10px;
}

.sales_diagram_1 {
  margin-top: 4%;
  width: 70%;
  height: 30px;
  position: relative;
  left: 14%;
  background: #ffffff;
  border: #FC7B61;
}

.sales_diagram_filled {
  margin-top: 100px;
  height: 100%;
  width: 0%;
  background-color: #FC7B61;
  transition: width 2s;

}

/* sales numbers ved diagram*/  
.diagram_numbers_container{
  display: flex;
  justify-content: space-evenly;
 
    
}

.sales_numbers_container .sales_number{
    margin-bottom: 25px;  
}




.result-text{
    display: flex;
    margin-top:4%;
    justify-content: center;
    font-size: 26px;
    color: #28a745;
}



.result_number{
    color: #28a745;
    font-size: 40px;
}

.result-text .result-text-span{
    
    text-decoration-line: underline;
}