* {
  box-sizing: border-box;
}
body {
  font-family: Futura;
  font-weight: Bold;
  color: #000;
}

.salesPage_Container{
  width: 100%;
  height: 100vh;
  padding:0% 25%;
  max-height: 100vh;
  
}  

#Sales_Heading{
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  margin-top: 0;
  
}

/* Flex columns*/
.flex-columns .row {
  display: flex;
  flex-direction: row;
  height: 30%;
  
}

.flex-columns .column{
  display: flex;
  flex-direction: row;
  flex:1;
  align-items: flex-end;
}

/* for valgte på venstre side*/
.column-1 {
  /*styling*/
  /* flex*/
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  flex-wrap: wrap;
  /* sizing */
  width: 100%;
  padding: 30px;
  /*positioning*/
  margin-right: 20px;
  border: 1px solid #ccc;
}

/* kolonner med valg*/
 .select-columns {
  /*styling*/
  border-right: 1px solid #ccc;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  
}

.select-columns:last-of-type{
  border: none;
}

/* alle div'er med innhold*/
.data_container{

  background: #f4f4f4;
  /* flex*/
  display: flex;
  flex-direction: column;   
}


.button{
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background-color: #FC7B61;
  color: white;
  font-family: Futura;
  font-weight: Bold;
  border: none;
  border-radius: 5px;
 
}
.button:hover{
  opacity: 0.8;
  transform: scale(1.05);
 
}

.calculate-btn { 
  background-color : #28a745;
}

/*diagrams*/
.diagrams_container{
  width: 100%;
  height: 70%;
  margin-top: 20px;
  max-height: 430px;
  background: #f4f4f4;
  width: 100%;
  padding-top: 30px;
  min-width: 645px;
  border-radius: 10px;
}

.diagram_1 {
  width: 50px;
  height: 200px;
  position: absolute;
  background: #DEDEDE;
  margin-right: 10px;
  border: #FC7B61;
  left: 33%;
}

.diagram_1_filled {
  height: 5%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
  margin-right: 10px;
}
.diagram_2 {
  width: 50px;
  height: 200px;
  position: absolute;
  background: #DEDEDE;
  left: 43%;
}

.diagram_2_filled {
  height: 10%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  
  transition: height 2s;
}

.diagram_3 {
  width: 50px;
  height: 200px;
  position: absolute;
  background: #DEDEDE;
  left: 53%;
}

.diagram_3_filled {
  height: 50%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

.diagram_4 {
  width: 50px;
  height: 200px;
  position: absolute;
  background: #DEDEDE;
  left: 63%;
}

.diagram_4_filled {
  height: 70%;
  width: 100%;
  background-color: #FC7B61;
  position: absolute;
  bottom: 0;
  transition: height 2s;
}

/* sales numbers ved diagram*/
.sales_numbers_container{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.sales_numbers_container .sales_number{
    margin-bottom: 25px;
   
}


.graph_names{
  display: flex;
  justify-content: space-evenly;
}
.result-text{
    display: flex;
    justify-content: center;
}

.result_number{
    color: #28a745;
    font-size: 40px;
}